extends layout
block title
    title Dashboard
    link(rel='stylesheet', href='./stylesheets/slick.css')
    link(rel='stylesheet', href='./stylesheets/slick-theme.css')
block body
    .container
        header
            .wrap
                .item
                    a(href="/") Database
                .item
                    #parsing
                        if parsing
                            span.red PARSING!
        .films
            .carousel
                each film in data
                    img(src="#{film.cover_url}",onclick="filmDetals('#{film.title}','#{film._id}','#{film.cover_url}','#{film.genre}','#{film.desc}')")
        .infos
            .parsed-films
                if parsedHash   
                    each film in parsedHash
                      .item
                          span #{film.title}
                          img(src="#{film.img}")
                          input(type="text", value="#{film.link}")

            .selected-film
                #img
                #title
                #_id
                #genre
                #desc
        .wrap-container
            .container-bordered
                a(href="dashboard/parseKinorai") Parse KinoRai
                a(href="/dashboard/cleanArray")
                        span.red CLEAN PARSED ARRAY

        .stats
            .wrap
                .item
                    span.num 14
                    span.desc Something
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(src='./scripts/slick.min.js')
        script(src='./scripts/frontend.js')
