extends layout
block title
    title Dashboard
block body
    .body
        header
            .wrap
                .item
                    a(href="/") Database
                .item
                    #parsing
                        if parsing
                            span.red PARSING!
        .films
            .carousel
                each film in data
                    img(src="#{film.cover_url}",onclick="filmDetals('#{film.title}','#{film._id}','#{film.cover_url}','#{film.genre}','#{film.desc}')")
        .infos
            .left-side
                span.num 14
                each film in parsed
                    img(src="#{film.img}")
            .right-side
                #img
                #title
                #_id
                #genre
                #desc

        .wrap-container
            .container
                a(href="dashboard/parseKinorai") Parse KinoRai
        .stats
            .wrap
                .item
                    span.num 14
                    span.desc Something
                .item
                    span.num 14
                    span.desc Something
                .item
                    span.num 14
                    span.desc Something
                .item
                    span.num 14
                    span.desc Something
                .item
                    span.num 14
                    span.desc Something
        .wrap-else
            .else
               p else
        script(src='./scripts/frontend.js')
