extends layout
block title
    title Dashboard
    link(rel='stylesheet', href='./stylesheets/slick.css')
    link(rel='stylesheet', href='./stylesheets/slick-theme.css')
block body
    .container
        header
            a(href="/dashboard/cleanArray")
                span.red Clear Parsed Array
            a(href="dashboard/parseKinorai") Parse KinoRai
            a(href="/") Database
            if (parsing)
                a(href="/")
                    span.red PARSING!
        .films
            .carousel
                each film in data
                    img(src="#{film.cover_url}",onclick="filmDetals('#{film.title}','#{film._id}','#{film.cover_url}','#{film.genre}','#{film.desc}')")
        .infos
            .parsed-films
                if parsedClearArray
                    each session in parsedClearArray
                        .session-item
                            img(src="#{session.img}")
                            span.items #{session.items}
                            span.title #{session.title}
            .selected-film
                #img
                #title
                #_id
                #genre
                #desc
        .selector-wrap
            .selector Select to associate
        .popup-box
            .popup-box-close X
            .popup-box-top
                h2 Selected films will be associated
            .popup-box-content
            a.associate.btn Associate!
        #blackout
        //.wrap-container
           .container-bordered
               a(href="dashboard/parseKinorai") Parse KinoRai
               a(href="/dashboard/cleanArray")
                       span.red CLEAN PARSED ARRAY

        //.stats
            .wrap
                .item
                    span.num 14
                    span.desc Something
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(src='./scripts/slick.min.js')
        script(src='./scripts/frontend.js')
